* {
  background-color: #f5f6dcd5;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
img {
  max-width: 100%;
  border-radius: 20px;
  border: 1px solid black;
}
a {
  cursor: pointer;
}
main {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header a.logo {
  font-weight: bold;
  font-size: 1.4rem;
}

header nav {
  display: flex;
  gap: 15px;
}

div.post {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

div.post > * {
  flex-grow: 1;
  flex-basis: 33%;
}

div.post div.text_Side h2 {
  margin: 0;
  font-size: 1.8rem;
}

div.post div.text_Side a {
  text-decoration: none;
  color: inherit;
}

div.post p.info {
  margin: 6px 0;
  color: cadetblue;
  font-size: 0.7rem;
  font-size: bold;
  display: flex;
  gap: 10px;
}

div.post p.info a.author {
  color: blueviolet;
}
div.post p.summary {
  color: rgb(0, 0, 0);
  margin: 10px 0;
  line-height: 1.5rem;
}
div.post .read {
  color: rgb(209, 89, 23);
  margin: 10px 0;
  line-height: 1.5rem;
  font-size: smaller;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background-color: #efe9e9;
  border: 2px solid #e09035;
  border-radius: 5px;
}

button {
  cursor: pointer;
  width: 100%;
  margin-top: 17px;
  padding: 10px 0;
  display: block;
  background-color: #f9c08b;
  border: 0;
  color: #000000;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form.login h1,
form.register h1 {
  text-align: center;
}

div.post-page div.image {
  max-height: 250px;
  display: flex;
  overflow: hidden;
}
div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}
div.post-page h1 {
  text-align: center;
}

.info_auth {
  display: flex;
  justify-content: center;
  margin-top: -35px;
}

.author-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.created-at {
  font-size: 0.9rem;
  color: rgb(98, 139, 234);
}

div.post-page div.content p {
  line-height: 1.5rem;
}

div.edit-row {
  text-align: center;
  margin-bottom: 15px;
}

div.post-page a.edit {
  padding: 7px;
  border: 1px solid #000;
  color: #e09035;
  border-radius: 6px;
  display: inline-flex;
  gap: 5px;
  text-decoration: none;
  font-weight: bold;
}

a svg {
  height: 25px;
}
